{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'easy_q1.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}
<div class="text-center">
  <img class="quizImgSize" src="https://steamuserimages-a.akamaihd.net/ugc/951846889666811874/43B58F4A03E04B55021D5A6C351713677252A9E6/?imw=1024&imh=631&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="anime image">
</div>

<div class="quizDescription text-center">
  <span class="boldTxt text-center">Animation</span> from <span class="boldTxt">Japan</span>
</div>


{% endblock %}


