{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'easy_q5.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}
<div class="text-center">
  <img class="quizImgSize" src="https://androniki.com/galleries/Book-OtakuSpaces/photos/OTAKU_SPACES04.jpg" alt="anime image">
</div>

<div class="quizDescription text-center">
  <span class="boldTxt">Hardcore</span> anime/manga <span class="boldTxt text-center">fan</span>
</div>

{% endblock %}