{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'easy_q2.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}
<div class="text-center">
  <img class="quizImgSize" src="https://i.kinja-img.com/gawker-media/image/upload/s--1bJCR_bR--/kcpf3lbpceldv3oonyfi.jpg" alt="anime image">
</div>

<div class="quizDescription text-center">
  <span class="boldTxt text-center">Comics</span> from <span class="boldTxt">Japan</span>
</div>

{% endblock %}