{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'hard_q5.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}
<div class='row align-items-center'>
  <div class="col-6">
    <img class ="quizImgSize" src="https://steamuserimages-a.akamaihd.net/ugc/84848159729333969/442F31CC0BF96B99AEFC904CF8D37102D6516F65/" alt="anime image">
  </div>
  <div class="col-6">
    <img class= "quizImgSize" src="https://cdn.myanimelist.net/s/common/uploaded_files/1449623307-e940dc8091fa895db6f4a4e986d30da5.gif" alt="anime image">
  </div>
  <div class="col-6">
    <img class= "quizImgSize" src="https://cdn.myanimelist.net/s/common/uploaded_files/1449632570-e1d173fdbe74e12f8d1cb902054e1c63.gif" alt="anime image">
  </div>
  <div class="col-6">
    <img class= "quizImgSize" src="https://cdn.myanimelist.net/s/common/uploaded_files/1449996916-d41da649bc11537b82e348d366cf25dc.gif" alt="anime image">
  </div>
</div>


<div class="quizDescription">
  <span class="boldTxt">[Term]</span>refers to feelings of <span class="boldTxt">strong affection</span> mainly towards characters (usually female) in anime, manga, video games, and other media directed at the <span class="boldTxt">otaku market. </span> As long as the character makes you <span class="boldTxt">feel like you want</span>to <span class="boldTxt">hug and protect them,</span> that's enough for it to be <span class="boltTxt">[term]. </span>
</div>

{% endblock %}