{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'hard_q4.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}
<div class='row align-items-center'>
  <div class="col">
    <img class ="quizImgSize" src="https://randomc.net/image/Hataage!%20Kemono%20Michi/Hataage!%20Kemono%20Michi%20-%2008%20-%20Large%2005.jpg" alt="anime image">
  </div>
  <div class="col">
    <img class= "quizImgSize" src="https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwKMDZXoi7Dtqo5WeGwPnwWo" alt="anime image">
  </div>

</div>


<div class="quizDescription text-center">
  A <span class="boldTxt">modern-day wrestler</span> is <span class="boldTxt">summoned </span> to <span class="boldTxt">another world</span> to help a princess.
</div>


{% endblock %}