{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'hard_q3.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}
<div class="text-center">
  <img class="quizImgSize" src="https://i.ytimg.com/vi/o1hkNZ4r2DA/maxresdefault.jpg" alt="anime image">
</div>

<div class="quizDescription text-center">
  Anime and manga aimed at <span class="boldTxt text-center">male, college-aged/young adult demographic.</span> 
</div>

{% endblock %}