{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'hard_q1.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}

<div class='row align-items-center'>
  <div class="col">
    <img class ="quizImgSize" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FuM_weH4cI2o%2Fmaxresdefault.jpg&f=1&nofb=1" alt="anime image">
  </div>
  <div class="col">
    <img class= "quizImgSize" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd.wattpad.com%2Fstory_parts%2F329628846%2Fimages%2F1483853a3f9683d2301301939346.jpg&f=1&nofb=1" alt="anime image">
  </div>

</div>


{% endblock %}