{% extends "quiz_layout.html" %}
{% block head %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'med_q3.js') }}"></script>

<style>

</style>
{% endblock %}

{% block content %}
<div class="text-center">
  <img class="quizImgSize" src="https://sites.google.com/site/animesuki5555/_/rsrc/1488887985957/free/717-BLJmYeL._SL1280_.jpg" alt="anime image">
</div>

<div class="quizDescription text-center">
  A <span class="boldTxt text-center">male</span> anime or video game character that one considers as their <span class="boldTxt">husband</span> or <span class="boldTxt">lover</span>
</div>


{% endblock %}